%h2= 'Route test'
#content
  #methods
  %label= 'You can call this methods on /route controller'
  %ul
    - @available_methods.each do |m|
      %li= m
  #controller
    %label= 'Inspected controller data'
    %pre
      = @controller.inspect.split(',').join("\n")
